*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav li{
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}

.heading{
    position: relative;
}

.img-user{
    position: absolute;
    top: 1px;
    right: -25px;
}

.img-search{
    position: absolute;
    left: 15px;
}

.form-control{
    border-radius: 30px;
}

.input-search{
    background-color: #5E5D5D;
    padding-left: 50px;
}



form{
    position: relative;
}

@media (min-width: 992px) and (max-width: 1124px){
    .img-user{
        display: none;
    }
    li:last-child{
        display: none;
    }
}

@media (max-width: 991.98px){
    .img-user{
        display: none;
    }
}